/************** COLOR ***************/

.color-link-underline { color: #adff2f; }

.color-white { color: white; }

.bg-main  {background-color:  #141922; }

.bg-footer { background-color: #282828;}

.bg-side-nav { background-color: #000000;}

/**************************/
/****** XS - MOBILE FIRST ******/
.logo {
    display: none;
}

.display-none-mobile {
    display: none;
}

svg { 
    width: calc(70%);
}

#side-nav {
    width: 3rem;
    color: white;
}

#sidebar .navigation ul {
    list-style: none;
    margin-top: 1.25rem;
}

#side-nav .navigation ul li {
    padding: .625rem 0;
}

#side-nav .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: .8125rem;
}

#side-nav .navigation ul li a:hover,
#side-nav .navigation ul li a:active,
#side-nav .navigation ul li a:focus {
  color: #ffffff;
}

#side-nav .navigation ul li a:hover .fa,
#side-nav .navigation ul li a:active .fa,
#side-nav .navigation ul li a:focus .fa {
  color: #b3b3b3;
}


#side-nav .navigation ul li a:hover svg:hover,
#side-nav .navigation ul li a:hover svg:active,
#side-nav .navigation ul li a:hover svg:focus {
  color: #ffffff;
}

.navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: .8125rem;
}

.navigation ul {
    list-style: none;
    margin-top: 1.25rem;
}

/* MAIN CONTENT */
main {
    height: calc(100vh - 5rem);
}

#main-content-wrapper {
    width: calc( 100% - 3rem );
}

#call-to-action-wrapper {
    position: fixed;
    width: calc( 100% - 3rem);
    height: 5rem;
    background-color: #00000077;
    padding: .9375rem;
}

.topbar button {
    background-color: #080b12;
    color: white;
    font-weight: bold;
    padding: .3125rem .625rem;
    border: .0625rem solid white;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-right: 10px;
}

.topbar button:hover,
.topbar button:active,
.topbar button:focus {
    background-color: #080b12; 
}

#main-content {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    overflow-y: auto;
}

#main-content > nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-evenly;
}

#main-content > nav > ul > a{
    /* width: 50%; */
    text-align: center;
    padding: 0.5rem;
}

.link-trend:hover,
.link-trend:active,
.link-trend:focus {
  color: #ffffff;
}

#main-content ul {
    list-style: none;
    margin-top: 1.25rem;
}

.link-trend:hover {
    text-decoration: underline greenyellow;
    cursor: pointer;
}

.card:hover {
    background-color: #252525;
}

.play {
    position: relative;
}

.play .fa {
    position: absolute;
    right: .625rem;
    top: -3.75rem;
    padding: 1.125rem;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.card:hover .play .fa {
    opacity: 1;
    transform: translateY(-0.7rem);
}

.title-section {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row-section {
    padding: 1rem 2rem;  
}

.card {
    width: calc(50% - .625rem);
    padding: .9375rem;
    background-color: #181818;
    border-radius: .375rem;
    cursor: pointer;
    transition: all ease 0.4
}

.card img {
    width: 100%;
    border-radius: .375rem; 
    margin-bottom: 1rem;
}

.card p,h3 {
    text-align: center;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    height: 5rem;
}


/********************************/
/****** SM - RESPONSIVE: SMARTPHONE ******/
@media screen and (min-width: 30rem) {

    /* sidebar  */
    .logo {
        display: inline;
    }
    .logo-spotify {
        width: 9.375rem;
    }

    .logo-small {
         display: none;
        }

    .display-none-mobile {
        display: inline;
    }

    svg { 
        width: 1.875rem; 
    }

    .padding20 { 
        padding: 1.25rem;
    }

    .align-start {
        align-items: start;
    }

    /* MAIN CONTENT */
    #side-nav {
        width: 15.625rem;
    }

    #main-content-wrapper {
        width: calc( 100% - 15.625rem );
    }
    
    #call-to-action-wrapper {
        width: calc( 100% - 15.625rem);
    }
        
    #main-content > nav > a {
         width: calc(100% / 3); 
    }

    .card {
        width: calc(100% / 3 - .625rem);
    }

}

/********************************/
/****** MD - RESPONSIVE: TABLET ******/
@media screen and (min-width: 48rem) {
    

    /* MAIN CONTENT */
    #main-content > nav > a {
        width: calc(100% / 4); 
    }

    .card {
        width: calc(100% / 4 - .625rem);
    }

}

/*********************************/
/****** LG - RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {
     /* MAIN CONTENT */
        #main-content > nav > a {
        width: calc(100% / 6); 
    }
     
    .card {
        width: calc(100% / 6 - .625rem);
    }

}


/***************************************/
/****** XL - RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {
    /* MAIN CONTENT */
}